html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.one_div {
    background: url('../pictures/photo_backgrounds_textures_app04.jpg') #221c5a;
    font-family: 'Roboto', sans-serif;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #444444;
}

body {
    line-height: normal;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
@media (min-width:1020px) {
    .    { width:990px; }
    .content { float:left; width:675px; }
    .sidebar { margin:0px 0px 0px 700px; width:260px; }
    .sbcontainer { margin:0 0 10% 0; padding:15%; }
}
@media (min-width:750px) and (max-width:1019px) { /* one column */
    .wrapper { width:675px; }
    .sidebar { clear:both; }
    .sbcontainer { margin:5% 0; padding:10%; }
}
@media (max-width:749px) { /* one column */
    .wrapper { width:90%; }
    .sidebar { clear:both; }
    .sbcontainer { margin:5% 0; padding:10%; }
}
.two_div {
    background:white;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #A52A2A;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 25px 50px 75px 100px;
    word-wrap: break-word;
}
.wrapper { margin:0 auto; padding:20px 0 0 0; }

.container {
    background:#ffffff;
    margin:0 0 5% 0;
    padding:10%;
}


.containerhead {
    border-top:1px solid #ccc;
    text-align:center;
    text-transform:uppercase;
}

.sidebar {
    text-align:center;
    margin-bottom: 10%;
}

.title {
    background: #ffffff;
    color: 	#B8860B;
    display:inline-block;
    padding:0px 16px;
    position:relative;
    top:-11px;
}

ul.links {
    border:1px solid #ccc;
    list-style:none;
    margin:0px 0px 0px 0px;
    padding:0px 24px 24px;
    text-transform:uppercase;
}
.linktitle {
    background:#ffffff;
    display:inline-block;
    padding:0px 16px;
    position:relative;
    top:-11px;
}
ul.links li {
    margin:0;
    padding:8px 0px;
}
a {
    color: #af3a6e;
    text-decoration:none;
}

a:hover {
    color:#777777;
}
p {
    font-family: 'Roboto', sans-serif;
}

td p {
    position: relative;
    text-align: -webkit-left;
    z-index: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid darkred;
}
input[type=text], input[type=textarea] {
    width: 70%;
    padding: 8px 8px;
    margin: 4px 0;
    box-sizing: content-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    outline: none;
}
input[type=password] {
    width: 100%;
    padding: 8px 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    outline: none;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 2px solid #af3a6e;
}

.box, .button, input[type=reset] {
    background-color:darkred;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    padding: 10px 25px;
    color:#ffffff;
    text-decoration:none;
    cursor:pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.box{
    color: black;
    text-transform: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 8px 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    outline: none;
}
select {
    width: 100%;
    padding: 8px 8px;
    border: none;
    background-color: #f1f1f1;
    outline: none;
}

#radiobutton {
    padding: 20px;
    display: block;
    text-align: left;
}
.second-piece{
    display: inline-block;
    float: left;
    padding-left: 20px;
    width: 70%;}


.desc p{
    text-align: center;}

.header {
    margin: auto;
    min-height: 150px;
    text-align:center;
    width:100%;
    background-position: center;
    background-size: cover;
}

.svg-wrapper {
    position: relative;
    top: 120px;
    transform: translateY(-50%);
    margin:0 auto;
    width: 320px;
}

.shape {
    stroke-dasharray: 140540;
    stroke-dashoffset: -474;
    stroke-width: 5px;
    fill: transparent;
    stroke: black;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.headertext {
    font-family: 'Megrim', cursive;
    font-weight: 800;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 8px;
    color: black;
    top: -50px;
    position: relative;
    text-transform: uppercase;
}

.headerlink {
    color: black;
}

.headerlink:hover {
    color: black;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

/* NAVIGATION */

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #221c5a;
    margin:auto;
    padding:0px;
    position:relative;
    text-align:center;
    width:100%;
    animation-name: fadeIn;
    animation-duration: 1.2s;
}

.themeButton {
    display:inline-block;
    right: 1%;
    position:relative;
    float:right;
    top:-40px;
    text-transform: none;
    font-size: 10px;
    color:rgba(255,255,255,0.8);
    cursor:pointer;

    width: 80px;
    padding: 0px 0px;
    border: transparent;
    background: #221c5a;
    outline: transparent;
}

nav ul {
    list-style:none;
    margin:0px auto;
    padding:0px;
}

nav li {
    color: #ffffff;
    display:inline-block;
    font-size:18px;
    margin:0px auto;
    padding: 10px 5px 5px 5px;
}

nav li:hover {
    text-decoration: none;
    background:rgba(255,255,255,0.2);
}

.marked {
    border-bottom:2px solid #ffffff;
}
